@import "tailwindcss";

@layer base {
  :root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  * {
    box-sizing: border-box;
  }
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* Apply custom styles to html, body, and the root element */
  html, body, #root {
    @apply min-h-screen m-0 p-0;
    line-height: 1.5;
    font-weight: 400;
    scroll-behavior: smooth;
    /* Hide scrollbar (Firefox and IE) */
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-montserrat-alternates);
  }

  /* Hide scrollbar for WebKit */
  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    display: none;
  }

  /* Ensure images and buttons behave as expected */
  img {
    @apply max-w-full h-auto;
  }
  button {
    @apply cursor-pointer;
  }
}

@layer utilities {

  /* hide horizontal scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}


}

@layer components {
 
}
